*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.main{
    width: 1519px;
}
:root {
    --primary-color:#a3a3a3;
    --white-color:#fff;
    --black-color:#000;
 
   
}
/* nav-tow */
.header__subnav-tow{
    position: absolute;
    width: 190px;
    background-color: #ba71da;
    list-style: none;
    background-color:#f9f9f9;
    box-shadow:#f1f1f1 0px 2px 5px 0px;
    /* padding: 15px 25px; */
    /* border-top: 1px solid red; */
     /* height: 47px; */
     z-index: 1;
     border-radius: 3px;
     /* display: none; */
     /* display: none; */
     /* overflow: hidden; */
     left: 220px;
     top: 0;
     display: none;
}
.header__subnav-link-tow{
    text-decoration: none;
    text-align: left;
    font-size: 12px;
    font-weight: 300;
    color: var(--primary-color);
    letter-spacing: 2px;    
    /* padding: 15px 25px 16px 25px; */
    /* display: block; */
    /* height: 47px; */
    display: block;
    /* overflow: hidden; */    
    position: relative;
}
.header__subnav-list-tow:first-child{
border-top-left-radius: 3px;
border-top-right-radius: 3px;
border: none;

}
.header__subnav-list-tow:last-child{
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}
.header__subnav-list-tow{
 /* padding: 15px 25px 16px 25px; */
 /* height: 47px; */
 padding: 7px 25px 8px 25px;
 border-top: 1px solid var(--primary-color);
 /* position: relative; */
 display: flex;
 justify-content: space-between;
 
 
}
.header__subnav-tow::after{
    content: "";
    position: absolute;
    left: -30px;
    top: 0px;
    width: 45px;
    height: 100%;
    /* background-color: rgb(128, 115, 115); */
}
/* .header__subnav-list-tow:first-child{
    border: none;
} */
.header__subnav-list-tow span{
     
    color: var(--primary-color);
   
}
.header__subnav-list:hover .header__subnav-tow{
    display: block;
}
 .blue{
     background-color: aqua !important;
     font-size: 10px;
     letter-spacing: 2px;
 }   
 .header__subnav-list-tow:hover{
    /* opacity: 0.6; */
    background-color: #fdf6f6;
}
.green{
    background-color: aquamarine !important;
    font-size: 10px;
    letter-spacing: 2px;
}
@keyframes fadeIn{
    from{
           opacity: 0;
       }
       to {
           opacity: 1;
       }
   }
   @keyframes growth{
    from{
        transform: scale(var(--growth-form));
    }
    to  {
        transform: scale(var(--growth-to));
    }
}  
.banner{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #000;
    min-height: 100vh;
}
.box{
  
    position: relative;
    width: 200px;
    height: 200px;
    transform-style: preserve-3d;
    animation: animate 20S linear infinite;
}
@keyframes animate
{
    0%{
        transform: perspective(1000px) rotatey(0deg);
    }
    100%{
        transform: perspective(1000px) rotatey(360deg);
    }
}
.box span {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-origin: center;
    transform-style: preserve-3d;
    transform: rotatey(calc(var(--i) * 45deg)) translateZ(400px);
    --webkit-box-reflect: below 0px  linear-gradient( transparent, transparent,#004 );
}
.box span img{
position: absolute;
top: 0;
left: 0px;
width: 100%;
height: 100%;
object-fit: cover;
} 
